* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Verdana;
}

/*Mniej niż 992px*/

@media (max-width:992px) {
	body {
		background-image: url(../img/man-1.jpg);
		background-size: auto 50vh;
		background-repeat: no-repeat;
	}
	#opis {

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%)
	}
	#opis h2 span {
		left: 50%;
		transform: translateX(-50%);
		
	}
}

/*Więcej niż 992px*/

@media (min-width:993px) AND (max-width:1170px) {
	body {
		background-image: url(../img/man-2.jpg);
		background-size: auto 70vh;
		background-repeat: no-repeat;
	}
}

/*Więcej niż 1170px*/

@media (min-width:1171px) {
	body {
		background-image: url(../img/man-1.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
	}
}
