html {
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
}

;
body {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
}

#main-nav {
	background-color: white;
	position: fixed;
	width: 100vw;
	top: 0;
	z-index: 1;
    opacity: 0;
    color: white;

}

#menu {
	display: none;
}

#skills {
	width: 100vw
}

#main-nav ul li {
	padding: 1rem;
	display: inline-block;
	float: right;
	margin-right: 1rem;
}

#main-nav ul li a {
	text-decoration: none;
	color: black;
}

#main-header {
	background-image: url(../img/header-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 60vh;
	position: relative;
	top: 0;
}

#main-header .header-content {
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#main-header .header-content h1 {
	font-weight: 50;
	font-family: 'Roboto', sans-serif;
	font-size: 5rem;
}

#main-header .header-content h1 span {
	color: #1ac056;
	font-weight: 700;
}

#main-header .header-content h2 {
	font-size: 3rem;
	font-weight: 10;
	width: 100vw;
}

#about-me {
	height: 400px;
}

#about-me figure img {
	max-height: 350px;
	max-width: 100%;
	border: 14px #fff solid;
	border-radius: 15px;
}

#about-me figure {
	float: left;
	width: 50%;
	text-align: center;
	margin: 0;
}

#about-skills {
	padding: 1rem;
}

#skills {
	float: left;
	width: 100vw;
}

#skills #icons figure {
	display: inline-block;
	text-align: center;
	position: relative;
}

#skills #icons {
	text-align: center;
}

#portfolio .portfolio-items #portfolio-item-1 {
	background-image: url(../img/portfolio1.jpg);
	background-repeat: no-repeat;
	float: left;
}

#portfolio .portfolio-items #portfolio-item-2 {
	background-image: url(../img/portfolio2.jpg);
	background-repeat: no-repeat;
	float: left;
}

h2 {
	text-align: center;
}

h2 span {
	color: #1ac056;
	font-weight: 700;
}

#portfolio .portfolio-items {
	font-size: 0px;
	text-align: center;
	width: 100vw;
}

#portfolio .portfolio-item {
	height: 350px;
	background-size: cover;
	background-position: center;
	display: inline-block;
	width: 30%;
	position: relative;
	font-size: initial;
	left: 5%;
}

#portfolio .portfolio-items #portfolio-item-1 {
	background-image: url(../img/portfolio1.jpg);
}

#portfolio .portfolio-items #portfolio-item-2 {
	background-image: url(../img/portfolio2.jpg);
}

#portfolio .portfolio-items #portfolio-item-3 {
	background-image: url(../img/portfolio3.jpg);
	float: left;
}

#portfolio .portfolio-item-mask {
	opacity: 0;
	background-color: rgba(42, 61, 79, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	transition: all 0.3s ease-in-out;
}

#portfolio .portfolio-item-mask:hover {
	opacity: 1;
}

#portfolio .mask-content {
	border: 1px solid #fff;
	margin: 10px;
	position: relative;
	height: 330px;
}

#portfolio .mask-content-inner {
	color: #fff;
	position: absolute;
	right: 0;
	left: 0;
	padding: 5px;
	top: 50%;
	transform: translateY(-50%);
}

#portfolio .mask-content-inner h3 {
	margin-top: 15px;
	margin-bottom: 15px;
}

#portfolio .mask-content-inner h4 {
	margin-top: 10px;
	margin-bottom: 10px;
}

#portfolio .mask-content-inner .fa-link:hover {
	color: #1ac056;
}

#contact {
	width: 100vw;
	overflow: hidden;
	font-size: 10px;
	background-color: #213b50;
	padding: 3rem;
	color: white;
	font-weight: 50;
	position: relative;
	top: 5rem;
}

#data h2 {
	text-align: left;
}

form {
	float: right;
	margin-right: 20vw;
	margin-top: -150px;
}

input,
textarea {
	background-color: #2b4a64;
	border: none;
	height: 50px;
}

input:focus {
	background-color: #4e708c;
	border: none;
}

.margin {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 500px;
}

#wiadomosc {
	height: 100px;
	width: 500px;
}

input[type="submit"] {
	width: 50px;
	background-color: green;
	color: white;
	border: none;
	text-align: center;
	float: right;
}

.div {
	margin-top: 10px;
}

#contact #name {
	font-size: 45px;
}

@media (max-width:1023px) {
	body {
		box-sizing: border-box;
		margin: 0px;
		padding: 0px;
		font-size: 20px;
		overflow-y: hidden;
	}
	#main-nav {}
	#main-header {
		background-size: cover;
		position: relative;
	}
	#main-header .header-content h1 {
		font-size: 8vw;
	}
	#main-header .header-content h2 {
		font-size: 5vw;
	}
	#about-me figure {
		position: relative;
		left: 50vw;
		transform: translatex(-50%);
	}
	#about-me figure img {
		max-width: 100%;
		height: auto;
	}
	.about-content {
		float: left;
	}
	#portfolio .portfolio-item {
		height: 350px;
		background-size: cover;
		background-position: center;
		display: inline-block;
		width: 95%;
		position: relative;
		font-size: initial;
		left: 50%;
		transform: translateX(-50%);
	}
	#contact {
		height: auto;
	}
	#data {
		font-size: 0.5rem;
	}
	#form {
		float: left;
		margin-top: 200px;
	}
	input,
	textarea {
		background-color: #2b4a64;
		border: none;
		height: 50px;
	}
	input:focus {
		background-color: #4e708c;
		border: none;
	}
	.margin {
		margin-top: 5px;
		margin-bottom: 5px;
		width: 70vw;
	}
	#wiadomosc {
		height: 100px;
		width: 70vw;
	}
	input[type="submit"] {
		width: 50px;
		background-color: green;
		color: white;
		border: none;
		text-align: center;
		float: left;
	}
	.div {
		margin-top: 10px;
	}
	#contact #name {
		font-size: 45px;
	}
	#main-nav ul li {
		padding: 1rem;
		display: inline-block;
		float: right;
		margin-right: 1rem;
		display: none;
	}
	#menu {
		display: inherit;
		text-align: right;
		margin-right: 2.5rem;
		margin-top: 1rem;
	}
}
