#container {
	background-color: green;
	width: 400px;
	height: 400px;
	position: absolute;
}

#sec1 {
	width: 200px;
	height: 200px;
	background-color: red;
	position: absolute;
	top: 200px;
	left: 0;


}

#sec2 {
	width: 200px;
	height: 200px;
	background-color: blue;
	position: absolute;
	left: 200px;
	top: 0;
}
