/*@import "mixins";*/
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white; }
  body i {
    color: #ecd407;
    font-size: 40px; }
  body #main {
    width: 100vw;
    height: 80vh;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  body #main #finanse h2,
  body #main #kontakt h2 {
    display: inline-block; }
  body #main #finanse {
    position: absolute;
    left: 10vw;
    top: 1vw; }
  body #main #kontakt h2 span {
    display: block; }
  body #main #kontakt {
    position: absolute;
    right: 10vw;
    top: 1vw; }
  body #footer {
    height: 40vh;
    width: 100vw;
    background-color: #292929; }
