html,
body {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
	font-family: 'Open Sans', sans-serif;

}

main {
	margin: 0 auto;
	width: 80vw;
	height: auto;

}

header {
	width: 50vw;
	height: 15vh;
	background-image: url(../images/CE_logotyp%20png.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0 auto;

}

#logo {
	height: inherit;
}

.nav-class {
	position: relative;
	width: 80vw;
	top: 0;

	z-index: 1;
}

nav ul {
	list-style: none;
	text-align: center;
	border-top: 1px solid;
	border-top-color: #EE7203;
	height: 5vw;

}

nav li {
	display: inline-block;
	padding: 2vw;

}

nav li:hover {
	font-weight: bolder;
	border-bottom: 1px solid;
	border-bottom-color: #EE7203;
	cursor: pointer;
}



article {
	text-align: justify;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 10px;
	color: #087834;
	height: auto;
	position: relative;



}



article h1 {
	font-weight: lighter;
}

article h3 {
	font-weight: lighter;
}

section {
	position: relative;
	top: 5vw;
}

section #content-text ul {
	list-style: none;
	font-size: 1.5vw;
	transform: translateY(30%);
}

.fas {
	color: #EE7203;
}

section #content-text ul li {
	margin-left: 1vw;
	margin-top: 10px;
}

#content-text {
	width: 40vw;
	float: left;
}

#content-img {

	width: 40vw;
	float: left;
}

#content-img figure {
	display: flex;
	justify-content: center;

}

.test {

	position: fixed;
	width: 100vw;
	top: 0;
	left: -50%;
	z-index: 1;
	background-color: #fff;
	margin: 0;
	padding: 0;
	transform: translateX(50%);
}

.item {
	clear: both;
	width: 80vw;
	height: 1000px;
	background-color: #087834;
}

#oferta h3 {
	margin-left: 20px;
}
