#container{
	background-color: #213b50;
	color: white;
	padding: 20px;
	width: 60vw;
}
input,textarea,select {
	background-color:#2b4a64; 
	border: none;
}
input:focus {
	background-color:#4e708c; 
	border: none;
}
main {
	width: 600px;
	height: 100px;
}
.margin{
	margin-top:5px;
	margin-bottom:5px;
	width:300px;
}
#wiadomosc{
	height: 100px;
	width: 300px;
}
input[type="submit"]{
	width: 50px;
	background-color: green;
	color: white;
	border: none;
	text-align: center;
}
input[type="checkbox"]{
	width: 50px;
}
input[type="submit"]:hover{
	background-color: yellow;
}
.div{
	margin-top: 10px;
}
select{
	color: white;
}
