html{
	background-color: #000;
	color: gray;
	
	font-size:20px;
}
a:hover
{
	color: red;
	
}
a:visited{
	background-color: blue;
}
.client{
	
	background-color: yellow;
}
.client:nth-child(even){
	background-color: blue;
}

.client:nth-child(5n+4){
	background-color:grey;
}
a {
	text-decoration: none;
}
div [gold]{
	background-color: black;
}
